{# templates/bundles/EasyAdminBundle/default/field_time_interval/list.html.twig #}
{% block easyadmin_field_time_interval %}
    {% if value %}
        {{ value.days }} days, {{ value.h }} hours, {{ value.i }} minutes
    {% else %}
        N/A
    {% endif %}
{% endblock %}

{# templates/bundles/EasyAdminBundle/default/field_time_interval/edit.html.twig #}
{% block easyadmin_field_time_interval_edit %}
    {% set daysId = unique_id() %}
    {% set hoursId = unique_id() %}
    {% set minutesId = unique_id() %}

    <div class="time-interval-field d-flex">
        <label for="{{ daysId }}"></label><input type="number" id="{{ daysId }}" name="{{ name }}[days]" value="{{ value.days }}" placeholder="Days">
        <label for="{{ hoursId }}"></label><input type="number" id="{{ hoursId }}" name="{{ name }}[hours]" value="{{ value.h }}" placeholder="Hours">
        <label for="{{ minutesId }}"></label><input type="number" id="{{ minutesId }}" name="{{ name }}[minutes]" value="{{ value.i }}" placeholder="Minutes">
    </div>

    <script>
        // JavaScript to handle input validation or interactions
    </script>
{% endblock %}
