<formation class="mb-5">
    <div class="row">
        <div class="col-md-7">
            <!-- Todo : Replace href by { formation_show } & add { set formation_show = path('formation_show') } -->
            <h4>
                <a href="#">{{ formation.name }}</a>
            </h4>
            <strong>{{ formation.code | raw }}</strong>
            <p>{{ formation.globalGoal | raw }}</p>
            <p>{{ formation.pedaGoal | raw }}</p>
            <p>{{ formation.content  | raw}}</p>
            <p>{{ formation.highlights | raw }}</p>
            <p>{{ formation.expectedResults | raw }}</p>

        </div>
    </div>
</formation>