<formation class="mb-5 p-4">
    <div class="row">
        <div class="col-md-7 formation-item">
            <h4 class="mb-0">
                <a href="#" class="text-primary text-decoration-none">{{ formation.name }}</a>
            </h4>
            <strong class="my-0 text-secondary">{{ formation.code | raw }}</strong>
            <div class="content pl-3 d-flex flex-column">
                <p class="my-0">{{ formation.globalGoal | raw }}</p>
                <p class="my-0">{{ formation.pedaGoal | raw }}</p>
                <p class="my-0">{{ formation.content | raw }}</p>
                <p class="my-0">{{ formation.highlights | raw }}</p>
                <p class="my-0">{{ formation.expectedResults | raw }}</p>
            </div>
        </div>
    </div>
</formation>
